@keyframes animatedBackground {
    from { background-position: 0 0; }
    to { background-position: 100% 0; }
}

body	{
    background-image: url('../images/starfield_background.jpg');
    background-position: 0px 0px;
    background-repeat: repeat-x;
    animation: animatedBackground 40s linear infinite;
}