*{
    font-family: aviano-future, sans-serif;
    font-style: normal;
    font-weight: 100;
}
@keyframes animatedBackground {
    from { background-position: 0 0; }
    to { background-position: 100% 0; }
}

body	{
    background-image: url('../images/starfield_background.jpg');
    background-position: 0px 0px;
    background-repeat: repeat;
    animation: animatedBackground 40s linear infinite;
}

header h1,h2,h3,h4,h5,h6{
    text-align: center;
}

hr{
    border: 1px solid #FFFFFF;
}

body {
    padding: 2em;
}

.transparent{
    background: transparent;
    border: 0;
}



.opacity{
    font-family: aviano-future, sans-serif;
    background-color: #FFFFFF;
    opacity: 0.6;
    padding: 20px;
}

.opacity label{
    font-size: 24px;
    text-align: left;
}